<main>
  <header class="store-header">
    <img class="store-logo" src = "assets/icon.png" alt="logo" aria-hidden="true" />
    <h1 class = "store-name">TechHive</h1>
  </header>
  <section class = "navigation">
    <a *ngFor = "let category of categories" href="#" (click)="selectCategory(category)" class="category-link">
      {{category}}
    </a>
    
  </section>
  <section class="content">
    <h1 class = "selected-category">{{selectedCategory}}</h1>
    <app-products [selectedCategory] = "selectedCategory"></app-products>
    
  </section>
</main>